<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex itmes-center justify-center mt-40 bg-zinc-200">
   <a class="bg-blue-400 px-3 py-3 rounded-md text-2xl font-semibold" href="/auth/google">continue with google</a>
</body>
</html>